<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LessoHome Automation Execution">
	
	<test name="QA Test Cases">

     <groups>
	    <run>
			<include name="QA" />
	    </run>
	    
	</groups>
	<classes>
	 	<!-- <class name="framework.ExecutionSetup" >
	 		<methods>
                    <include name="setUp" />
                    <include name="tearDown" />
                </methods>
            </class>
		
		
	    <class name="testscripts.Login" /> -->
			<class name="TestPack.Test2" >
			<methods>
                    <include name="test1" />
                    <!-- <include name="test2" /> -->
                </methods>
            </class>
				
		<class name="Test1" />
		<class name="Test2" />
	
	</classes>
    </test>
	
</suite>
<!-- LessoHome Automation Execution -->